Repository albertocavalcante/utils: changes, and which lefthook commands are due for each by the changed paths.
All: dprint, shellcheck

dprint:
  run: dprint check {staged_files}

shellcheck:
  run: shellcheck {staged_files}

docs: add avante copilot auth troubleshooting guide
  docs/troubleshooting/neovim-avante-copilot.md
Due: dprint

docs: add rectangle ultrawide shortcuts cheatsheet
  cheatsheets/rectangle.md
Due: dprint

chore: add backup of ghostty config
  backups/ghostty/config.backup.20251227_213732
Due: none

feat: add root Justfile command center
  Justfile
Due: none

feat(utils): add synapse.py for agent config harmonization and update dotfiles
  scripts/synapse.py
Due: none

feat(synapse): robust env validation and claude config source
  scripts/synapse.py
Due: none

feat(synapse): structured command groups and TOML support
  scripts/synapse.py
Due: none

chore: update dotfiles submodule and docs
  docs/README.md
  docs/claude-code-configuration.md
Due: dprint

feat(git): add cleanup_worktrees script
  scripts/cleanup_worktrees.py
Due: none

feat(ai): refactor synapse.py and update dotfiles submodule
  scripts/synapse.py
Due: none

feat(ai): support kiro configuration in synapse sync
  scripts/synapse.py
Due: none

feat(ai): support antigravity configuration in synapse sync
  scripts/synapse.py
Due: none

docs(ai): document antigravity command security model
  docs/antigravity-research.md
Due: dprint

feat(ai): update synapse to support recursive command groups and update dotfiles submodule
  scripts/synapse.py
Due: none

refactor: move cleanup_worktrees.py to dotfiles templates
  scripts/cleanup_worktrees.py
Due: none

chore: sync dotfiles and add ghostty validation scripts
  .gitignore
  scripts/validate_ghostty.py
  scripts/validate_ghostty.sh
Due: shellcheck

Path conditions:
  dprint: any of: *.{md,json}
  shellcheck: any of: *.sh
